body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #navbar {
    background-color: #DAF7A6;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  #navbar ul li {
    margin: 0 15px;
  }
  
  #navbar ul li a {
    color: #FFC300;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
  }
  
  #navbar ul li a:hover {
    background-color: #FF5733;
  }
  